doctype html
html
  head
    meta(charset='UTF-8')
    title!= titre
    link(rel='stylesheet', href="/coursera/css/main.css")
    script(src="/coursera/js/mnist.js")
    script(src="/coursera/js/main.js")
  body
    canvas#myCanvas
